.section{
    text-align:center;
    background:#fff;
}

.intro{
    padding: 40% 0 30% 0;
}

.hero{
    color:#fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    margin-bottom:15%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.title{
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 24px;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


.navbar {
    display: none;
}
/* Larger than phone */
@media (min-width: 550px) {
    .header {
        margin-top: 18rem;
   }
    .value-props {
        margin-top: 9rem;
        margin-bottom: 7rem;
   }
    .value-img {
        margin-bottom: 1rem;
   }
    .example-grid .column, .example-grid .columns {
        margin-bottom: 1.5rem;
   }
    .docs-section {
        padding: 6rem 0;
   }
    .example-send-yourself-copy {
        float: right;
        margin-top: 12px;
   }
    .example-screenshot-wrapper {
        position: absolute;
        width: 48%;
        height: 100%;
        left: 0;
        max-height: none;
   }
}
/* Larger than tablet */
@media (min-width: 750px) {
   /* Navbar */
    .navbar + .docs-section {
        border-top-width: 0;
   }
    .navbar, .navbar-spacer {
        display: inline-block;
        width: 100%;
        height: 6.5rem;
        background: #fff;
        z-index: 99;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
   }
    .navbar-spacer {
        display: none;
   }
    .navbar > .container {
        width: 100%;
   }
    .navbar-list {
        list-style: none;
        margin-bottom: 0;
   }
    .navbar-item {
        position: relative;
        float: left;
        margin-bottom: 0;
   }
    .navbar-link {
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-right: 35px;
        text-decoration: none;
        line-height: 6.5rem;
        color: #222;
   }
    .navbar-link.active {
        color: #33C3F0;
   }
    .has-docked-nav .navbar {
        position: fixed;
        top: 0;
        left: 0;
   }
    .has-docked-nav .navbar-spacer {
        display: block;
   }
   /* Re-overiding the width 100% declaration to match size of % based container */
    .has-docked-nav .navbar > .container {
        width: 80%;
   } 
}
<<<<<<< HEAD


#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * hamburger menu
 */
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 100%;
   height:700px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }

@media (min-width: 750px) {
    .mobile--nav{
        display:none;
    }
}



a
{
  text-decoration: none;
  color: #232323;  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}